{% extends "base.html" %}

{% block title %}Password changed{% endblock %}

{% block content %}


			<section class="facts-area section-gap">
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="col-md-8 pb-40 header-text text-center">
							<h1>Password Changed </h1>
							<p class="mb-10 text-center">
								.
							</p>
						</div>
					</div>					
					<div class="row">
						<div class="col-lg-12 col-sm-12">
							<div class="single-review">
							<h4>
							Your password has been successfully changed.
							</h4>

							</div>
						</div>
						</div>
						</div>
						</section>


{% endblock %}